@font-face {
	font-family: 'NITW';
	src: url('../fonts/NITW.otf');
}

body {
  background-color: black;
  font-family: 'NITW';
  background-image: url('../img/stars.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

img
  {
  width: 170%;
  height: auto;
  object-fit: scale-down;
  }

h1{
  color: white;
  font-size: 25px;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'NITW';
  text-align: center;
  font-size: 17px;
}

p{
  font-size: 35px;
  color: white;
  text-align: center;
}

/*НАВИГАЦИЯ*/

.topnav {
  background-color: black;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #361549;
  color: white;
}
/*------------------------------------------*/

.section a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
	height: 50px;
  position: center;
  font-size: 45px;
}


.footer {
  user-select: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  background: black;
  justify-content: center;
  text-decoration: none;
}

.footer a{
  text-decoration: none;
}
