@font-face {
	font-family: 'NITW';
	src: url('../fonts/NITW.otf');
}

body {
  background-color: black;
  font-family: 'NITW';
  background-image: url('../img/stars.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

h2 {
    color: white;
    font-family: 'NITW';
    text-align: right;
    font-size: 17px;
}

img {
  width: 170%;
  height: auto;
  object-fit: scale-down;
}

.footer {
  user-select: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  background: black;
  justify-content: center;
  text-decoration: none;
}

.footer a{
  text-decoration: none;
}

/*НАВИГАЦИЯ*/

.topnav {
    background-color: black;
    overflow: hidden;
    border-bottom: 1px solid white;
    display: flex;
  }
  
  .topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color: #361549;
    color: white;
  }
  /*------------------------------------------*/

/*TOOLTIP*/

/*Ferdinant the Mountaineer*/
.tooltip_1 {
    position: absolute;
    right: 87%;
    top: 15%;
    height: auto;
    width: 210px;
    display: inline-block;
  }
  
  .tooltip_1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_1:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*Big Snake*/
  .tooltip_2 {
    position: absolute;
    right: 57%;
    top: 10%;
    height: auto;
    width: 230px;
    display: inline-block;
    
  }
  
  .tooltip_2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_2:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*The Firemaker*/
  .tooltip_3 {
    position: absolute;
    right: 83%;
    top: 55%;
    height: auto;
    width: 200px;
    display: inline-block;
  }
  
  .tooltip_3 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_3:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*Adina Astra*/
  .tooltip_4 {
    position: absolute;
    right: 68%;
    top: 35%;
    height: auto;
    width: 130px;
    display: inline-block; 
  }
  
  .tooltip_4 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
    margin-left: 60px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_4:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*Sterling the Seer*/
  .tooltip_5 {
    position: absolute;
    right: 57%;
    top: 70%;
    height: auto;
    width: 250px;
    display: inline-block;
  }
  
  .tooltip_5 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 35%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_5:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*Simone the Fighter*/
  .tooltip_6 {
    position: absolute;
    right: 40%;
    top: 45%;
    height: auto;
    width: 230px;
    display: inline-block;
  }
  
  .tooltip_6 .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 28%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_6:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*Gramercy/Tehrm the Medium*/
  .tooltip_7 {
    position: absolute;
    right: 28%;
    top: 13%;
    height: auto;
    width: 230px;
    display: inline-block;
  }
  
  .tooltip_7 .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 10%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_7:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*Dohr the Murderer*/
  .tooltip_8 {
    position: absolute;
    right: 20%;
    top: 37%;
    height: auto;
    width: 200px;
    display: inline-block;
  }
  
  .tooltip_8 .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 10%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_8:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*Castys*/
  .tooltip_9 {
    position: absolute;
    right: 7%;
    top: 60%;
    height: auto;
    width: 150px;
    display: inline-block;
  }
  
  .tooltip_9 .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: -10%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip_9:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*----------*/