@media only screen and (max-width: 1200px) {
    .tooltip_1 {
        right: 85%;
        top: 15%;
        width: 210px;
      }
      .tooltip_2 {
        right: 50%;
        top: 10%;
        width: 230px;
      }
      .tooltip_3 {
        right: 83%;
        top: 55%;
        width: 200px;
      }
      .tooltip_4 {
        right: 68%;
        top: 35%;
        width: 130px;
      }
      .tooltip_5 {
        right: 53%;
        top: 75%;
        width: 250px;
      }
      .tooltip_6 {
        right: 35%;
        top: 47%;
        width: 230px;
      }
      .tooltip_7 {
        right: 12%;
        top: 13%;
        width: 230px;
      }
      .tooltip_8 {
        right: 10%;
        top: 37%;
        width: 200px;
      }
      .tooltip_9 {
        right: 0%;
        top: 70%;
        width: 150px;
      }
}


@media only screen and (max-width: 992px) {
    .tooltip_1 {
        max-width: 170px;
        right: 82%;
    }
    .tooltip_1 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 90%;
    }

    .tooltip_2 {
        max-width: 190px;
        right: 50%;
    }
    .tooltip_2 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 12%;

    }

    .tooltip_3 {
        max-width: 160px;
        right: 85%;
    }
    .tooltip_3 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_4 {
        max-width: 110px;
        right: 65%;
    }
    .tooltip_4 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 3%;

    }

    .tooltip_5 {
        max-width: 210px;
        right: 55%; 
    }
    .tooltip_5 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_6 {
        max-width: 190px;
        right: 34%;
    }
    .tooltip_6 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_7 {
        max-width: 190px;
        right: 15%;
    }
    .tooltip_7 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_8 {
        max-width: 160px;
        right: 12%;
    }
    .tooltip_8 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }
    
    .tooltip_9 {
        max-width: 110px;
        right: 3%;
    }
    .tooltip_9 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }
}

@media only screen and (max-width: 720px) {
        .tooltip_1 {
        max-width: 170px;
        right: 82%;
        top: 23%;
    }
    .tooltip_1 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 90%;
    }

    .tooltip_2 {
        max-width: 190px;
        right: 40%;
    }
    .tooltip_2 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 12%;

    }

    .tooltip_3 {
        max-width: 160px;
        right: 80%;
        top: 65%;
    }
    .tooltip_3 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_4 {
        max-width: 110px;
        right: 60%;
        top: 40%;
    }
    .tooltip_4 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 3%;

    }

    .tooltip_5 {
        max-width: 210px;
        right: 45%;
        top: 90%; 
    }
    .tooltip_5 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_6 {
        max-width: 190px;
        right: 24%;
        top: 55%;
    }
    .tooltip_6 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_7 {
        max-width: 190px;
        right: -10%;
        top: 18%;
    }
    .tooltip_7 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_8 {
        max-width: 160px;
        right: -10%;
        top: 45%;
    }
    .tooltip_8 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }
    
    .tooltip_9 {
        max-width: 110px;
        right: -20%;
        top: 80%;
    }
    .tooltip_9 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }
}

@media only screen and (max-width: 420px){
    .tooltip_1 {
        max-width: 170px;
        right: 78%;
        top: 23%;
    }
    .tooltip_1 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 90%;
    }

    .tooltip_2 {
        max-width: 170px;
        right: 10%;
    }
    .tooltip_2 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 12%;

    }

    .tooltip_3 {
        max-width: 150px;
        right: 75%;
        top: 65%;
    }
    .tooltip_3 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_4 {
        max-width: 110px;
        right: 35%;
        top: 40%;
    }
    .tooltip_4 .tooltiptext {
        max-width: 90px;
        font-size: 20px;
        bottom: 3%;

    }

    .tooltip_5 {
        max-width: 190px;
        right: 35%;
        top: 100%; 
    }
    .tooltip_5 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_6 {
        max-width: 170px;
        right: -1%;
        top: 65%;
    }
    .tooltip_6 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_7 {
        max-width: 170px;
        right: -50%;
        top: 18%;
    }
    .tooltip_7 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }

    .tooltip_8 {
        max-width: 140px;
        right: -54%;
        top: 45%;
    }
    .tooltip_8 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }
    
    .tooltip_9 {
        max-width: 100px;
        right: -52%;
        top: 85%;
    }
    .tooltip_9 .tooltiptext {
        max-width: 90px;
        font-size: 20px;

    }
}
